*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --color-white:white;
    --color-soft-white:#E4EDF1;
    --color-black:#000;
    --color-orange:#FF9500;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(90deg, #190361 0%, #B0F 100%);
}

main{
    background-color:var(--color-white);
    border-radius: .5rem;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);

    box-sizing:content-box;
    min-width: 20rem;
    max-width: 42.8rem;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;

    @media(max-width: 480px){
        padding: 1rem 2rem 2rem 2rem;
    }
}

/*Cokkie Closed*/

.closed{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.75rem
}

h1{
    color: #34355B;
    font-family: 'Montserrat';
    font-size: 2.4rem;
    font-weight: 700;
    line-height: normal;
    text-align: center;

}

h2{
    color: #34355B;
    font-family: 'DM Sans';
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

figure{
    min-width: 18rem;
    overflow: hidden;
}

figure img{
    width: 100%;
    height: auto;
}

#closed-cookie{
    cursor: pointer;
}

#closed-cookie:hover{
    animation: shake 0.5s infinite;
}

/*Cokkie Open*/
.open{
    display: none;
    flex-direction: column;
    align-items: center;
    gap:1.75rem
}

.sorte{
    width: 80%;
    padding: 1rem;

    background: var(--color-soft-white);
    box-shadow: .2rem .2rem .2rem 0 rgba(85, 85, 85, 0.50);
    text-align: center;

    animation: slideUpAndScale 1.5s ease-in-out;

    p {
        color: var(--color-black);
        font-family: "Dancing Script";
        font-size: 2.4rem;
        font-weight: 400;
        line-height: normal;
    }    
}

button{
    /*Text*/
    color: var(--color-white);
    font-family: "DM Sans";
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
    
    background-color: var(--color-orange);
    width: 45%;
    padding:1.6rem;
    border: none;
    border-radius: 4px;

    cursor: pointer;
}

button:hover{
    background-color: #dd8100;
}

/*Animations*/
@keyframes shake {
    0%, 100% {
      transform: translateX(0) translateY(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-2px) translateY(-2px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(2px) translateY(2px);
    }
  }

@keyframes slideUpAndScale {
    0% {
      opacity: 0.7;
      transform: translateY(11rem) scale(0.1);
    }

    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }