* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hue: 194;
    --bg-color: hsl(var(--hue), 5%, 7%);
    --text-color: hsl(var(--hue), 40%, 98%);
    --primary-color: hsl(var(--hue), 100%, 63%);
    --button-secondary: hsl(var(--hue), 40%, 98%);
    --controls-bg-color: hsl(var(--hue), 0%, 14%);

    font-size: clamp(40%, 1% + 2vw, 62.5%);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    display: grid;
    height: 100vh;
    place-content: center;
}

#app {
    display: grid;
    justify-items: center;
}

/* General Classes */
.flex {
    display: flex;
}

.secondary{
    color: var(--button-secondary);
}

.light{
    --text-color: hsl(var(--hue), 5%, 7%);
    --bg-color: hsl(var(--hue), 40%, 98%);
    --controls-bg-color: hsl(var(--hue), 0%, 14%);
}

/* App Style */
#toggle-mode{
    color: var(--text-color);
    font-size: 3.2rem;
    line-height: 0;

    position: absolute;
    top:3.2rem;
    right: 3.2rem;

    cursor: pointer;
    border: none;
}

html.light .ph-sun,
html:not(.light) .ph-moon {
    display: none;
}

.sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    margin: -1px;
    padding: 0px;
    border: 0;
    appearance: none;
}

#timer{
    color: var(--text-color);
    text-align: center;
    font-family: sans-serif;
    font-size: 9.6rem;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

#controls{
    justify-content: center;
    align-items: center;
    gap: 1.6rem;

    background:var(--controls-bg-color);
    margin-top: 1.6rem;
    border-radius: 999rem;
    padding: 2.2rem 4rem;
}

button{
    background-color: transparent;
    border: 0;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 6.4rem;
}

.running .ph-play-circle,
.running .ph-timer,
.music-on .ph-speaker-none,
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle,
html:not(.music-on) .ph-speaker-high {
    display: none;
}